In [ ]:

Morgan Menlove
January 17th, 2024
Quantitative data is numerical, allowing for measurement and comparison
Example: Number of total customers in a store 30
Qualitative data is descriptive and characterizes attributes or properties
that are not numerical. It can be observed but not measured.
Example: Hair Color, Brown
Casting: The process of converting one type of data into another type.
you would need to use it in a math problem of two integers to a floating type
Percision: Refers to the total number of significant digits in a floating-point number
Scale: Refers specifically to the number of digits after the decimal point
Ex: 10.678 Percision: 5 Scale: 3

In [ ]:
# Problem 1
print("Morgan" + " " + "Menlove" + "\n" + "momen@gmail.com")

Morgan Menlove
momen@gmail.com

In [ ]:
# Problem 2
x = 100
y = 15
print(x*y)
print(x/y)
print(type(x/y))

1500
6.666666666666667
<class 'float'>

In [ ]:
# Problem 3
x = int(input("What is your age?"))
y = int(input("What year were you born?"))
print(x*y)
print(type(x*y))
print(x/y)
print(type(x/y))

What is your age?21
What year were you born?2002
42042
<class 'int'>
0.01048951048951049
<class 'float'>

In [ ]:
a = True
b = False
print(a or b)
a = False
b = False
print(a and (a or b))
a = False
b = True
print(not a)

True
False
True

Problem 4
1. True
2. False
3. True

In [ ]:
# Problem 5
x = "University of Utah"
print(x[14] + x[8] + x[4] + x[6] + "!")

Utes!

In [ ]:
# Problem 6
x = "To be, or not to be, that is the question:Whether 'tis nobler in the mind to suffer The slings and arrows of outrageous fortune, Or to take arms against a sea of troubles And by opposing end them."
y = x[171] + x[170] + x[163] + x[168] + x[166] + x[168] + x[167] + x[50] + x[53] + x[2] + x[21] + x[22] + x[7] + x[8] + x[10] + x[195]
print(y)

A rebel's thorn.